@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap);

* {
	border: 0;
	margin: 0;
	padding: 0
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

:active,
:focus,
a:active,
a:focus {
	outline: none
}

aside,
footer,
header,
nav {
	display: block
}

body {
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #fef9f2;
	color: #6e6e6e;
	font-family: Roboto, sans-serif;
	height: 100%;
	line-height: 1;
	width: 100%
}

button,
input,
textarea {
	font-family: inherit
}

input::-ms-clear {
	display: none
}

button {
	border: none;
	cursor: pointer
}

button::-moz-focus-inner {
	border: 0;
	padding: 0
}

a,
a:hover,
a:visited {
	text-decoration: none
}

a {
	color: inherit
}

ul li {
	list-style: none
}

img {
	max-width: 100%;
	vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit
}

body.lock {
	overflow: hidden
}

.container {
	max-width: 77.5rem
}

.container,
.containerL {
	margin: 0 auto;
	padding: 0 10px
}

.containerL {
	max-width: 91.25rem
}

.wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden
}

.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

.row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.btn,
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.btn {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: .625rem;
	color: #090909;
	font-family: DM Sans, sans-serif;
	font-size: 1.13rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1.11;
	padding: 1.278em 2.11em 1.556em
}

.btn--orange {
	background-color: #ff9c08;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.btn--orange:hover {
	background-color: #fab752
}

.btn--white {
	background-color: #fff;
	border: .0625rem solid #f0ece8;
	-webkit-box-shadow: 0 .25rem .625rem rgba(43, 43, 43, .04);
	box-shadow: 0 .25rem .625rem rgba(43, 43, 43, .04);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.btn--white:hover {
	border: 1px solid #ff9c08
}

.btn--black {
	background-color: #090909;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.btn--black:hover {
	background: #484747
}

.btns-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 1.75rem;
	justify-self: start
}

.small-t {
	font-family: DM Sans, sans-serif;
	font-size: 1.25rem;
	letter-spacing: .075rem;
	line-height: 1.1;
	text-transform: uppercase
}

.medium-t {
	color: #090909;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4166666667
}

.large-t {
	color: #090909;
	font-size: 2.625rem;
	font-weight: 700;
	line-height: 1.380952381
}

.header {
	background-color: #fff
}

.header__row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem 0
}

.header__logo {
	margin-right: 2.5rem;
	z-index: 100
}

.header__menu {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%
}

.logo {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-flex: 0;
	align-items: center;
	-webkit-column-gap: .5rem;
	-moz-column-gap: .5rem;
	column-gap: .5rem;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 0 16.45%;
	flex: 0 0 16.45%;
	min-width: 12.5rem;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.logo img {
	width: 2.25rem
}

.logo__txt {
	color: #090909;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4166666667
}

.menu__list {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #090909;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.06rem;
	gap: 1.6rem;
	justify-content: flex-start;
	line-height: 1.76;
	margin-right: 1rem
}

.menu__link {
	font-family: DM Sans, sans-serif;
	position: relative
}

.menu__link,
.menu__link:before {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.menu__link:before {
	background-color: #6e6e6e;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	width: 100%
}

.menu__link:hover:before {
	color: #6e6e6e;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.cart {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-flex: 0;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 0 19%;
	flex: 0 0 19%;
	justify-content: flex-end;
	z-index: 100
}

.cart__wrapper {
	position: relative
}

.cart__link {
	display: block
}

.cart__link img {
	height: 2.125rem;
	min-width: 2.125rem
}

.cart__count {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #ff9c08;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .75rem;
	height: 1.375rem;
	justify-content: center;
	line-height: 1.17;
	position: absolute;
	top: 0;
	-webkit-transform: translate(-35%, 100%);
	-ms-transform: translate(-35%, 100%);
	transform: translate(-35%, 100%);
	width: 1.375rem
}

.cart__button {
	font-size: 1.06rem;
	line-height: 1.18;
	margin-left: 1.5rem;
	min-width: 8.57em;
	padding: .94em 1.412em 1.176em
}

.header__bottom-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-flex: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 0 53%;
	flex: 0 0 53%;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	padding: 14.5% 2% 14.6% 7.6%
}

.header__bottom-img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 47%;
	flex: 0 0 47%;
	-webkit-transform: translateY(3.42%);
	-ms-transform: translateY(3.42%);
	transform: translateY(3.42%);
	width: 47%
}

.header__bottom-img img {
	-o-object-position: bottom;
	object-position: bottom
}

.header-content__title {
	color: #090909;
	font-family: Roboto, sans-serif;
	font-size: 3.75rem;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: .27em;
	position: relative
}

.header-content__title:before {
	background-color: #ff9c08;
	content: "";
	height: .067em;
	left: 0;
	max-width: 2.333em;
	position: absolute;
	top: -1.5625rem;
	width: 100%
}

.header-content__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.5rem;
	line-height: 1.58;
	margin-bottom: 1.79em
}

.statistic__row {
	border-bottom: 1px solid #dad1ca;
	gap: 2em 4.6em;
	padding: 11% 2.6% 6%
}

.statistic__item {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center
}

.statistic__num {
	-webkit-box-flex: 1;
	color: #090909;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 3.75rem;
	font-weight: 700;
	line-height: 1.3333333333;
	margin-bottom: .3125rem
}

.statistic__num span {
	color: #ff9c08
}

.statistic__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.25rem;
	line-height: 1.1
}

.about__row {
	-webkit-column-gap: 1.75rem;
	-moz-column-gap: 1.75rem;
	column-gap: 1.75rem;
	padding-bottom: 16.4%;
	padding-top: 16.4%
}

.item-first {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 49%;
	flex: 1 1 49%
}

.item-first__subtitle {
	color: #ff9c08;
	margin-bottom: 1em
}

.item-first__title {
	margin-bottom: .4em
}

.item-first__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.6666666667;
	margin-bottom: 3.11em;
	max-width: 32.44em
}

.item-first__img {
	-o-object-fit: cover;
	object-fit: cover;
	overflow: hidden
}

.item-first__img:not(:last-child) {
	margin-bottom: 2rem
}

.item-second {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 49%;
	flex: 1 1 49%
}

.item-second__btns {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-bottom: 3rem;
	padding-top: 2.8125rem
}

.item-second__img {
	margin-bottom: 2.9375rem;
	width: 100%
}

.item-second__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.6666666667;
	margin-bottom: 1.11em
}

.item-second__list-item {
	margin-bottom: 1.11em
}

.list-item {
	color: #090909;
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.1111111111;
	padding-left: 2.333em;
	position: relative
}

.list-item:before {
	background: url(../images/list-icon.5b881add3738b58e54d0.svg) no-repeat;
	background-size: contain;
	content: "";
	height: 1.444em;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 1.444em
}

.results {
	background-color: #fff
}

.results__row {
	-webkit-column-gap: 3.25rem;
	-moz-column-gap: 3.25rem;
	column-gap: 3.25rem;
	padding-bottom: 16.4%;
	padding-top: 16.4%
}

.results__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%
}

.results__content-subtitle {
	color: #fab752;
	margin-bottom: 1em
}

.results__content-title {
	margin-bottom: .714em;
	max-width: 10.69em
}

.results__image {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%
}

.result {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.result__button {
	display: inline-block
}

.statistic-result {
	grid-gap: 1.75rem 12%;
	display: grid;
	gap: 1.75rem 12%;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	margin-bottom: 12.35%
}

.statistic-result__item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.statistic-result__image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 4.75rem;
	flex: 0 0 4.75rem
}

.statistic-result__num {
	color: #090909;
	font-size: 2.375rem;
	font-weight: 700;
	line-height: 1.1578947368;
	margin-bottom: .2368421053em
}

.statistic-result__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.1111111111
}

.top-look {
	background-color: #ffd4a4
}

.top-look__cta {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 32.54%;
	padding-top: 16.4%;
	text-align: center
}

.top-look__subtitle {
	margin-bottom: 1em
}

.top-look__title {
	margin-bottom: .905em;
	max-width: 17.9em
}

.btn--p {
	padding-left: 1.4em;
	padding-right: 1.4em
}

.btn--p:hover {
	border: 1px solid #090909
}

.bottom-look__wrapper-p {
	padding-bottom: 65.4%;
	position: relative
}

.bottom-look__wrapper {
	left: 0;
	padding-bottom: 16.4%;
	position: absolute;
	-webkit-transform: translateY(-29.3%);
	-ms-transform: translateY(-29.3%);
	transform: translateY(-29.3%)
}

.bottom-look__video {
	background: url(../images/bg.b8a8a486f032196b5a85.jpg) no-repeat;
	background-size: contain;
	border-radius: 3.5625rem;
	cursor: pointer;
	margin-bottom: 6.6%;
	overflow: hidden;
	padding-bottom: 56.4%;
	position: relative;
	width: 100%
}

.bottom-look__video iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 4
}

.bottom-look__video img {
	cursor: pointer;
	left: 50%;
	-o-object-fit: contain;
	object-fit: contain;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 15%
}

.block-text {
	gap: 3rem
}

.block-text__item {
	max-width: 35.5rem
}

.block-text__title {
	margin-bottom: .46em
}

.block-text__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.6666666667
}

.help__wrapper {
	padding-bottom: 16.4%
}

.help__header {
	margin-bottom: 5.25%
}

.help__button {
	-ms-flex-item-align: end;
	align-self: end;
	max-height: 4.05em
}

.help__grid {
	grid-gap: 1rem 1.75rem;
	display: grid;
	gap: 1rem 1.75rem;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(24.25rem, 1fr))
}

.help__subtitle {
	color: #ff9c08;
	margin-bottom: 1em
}

.help__title {
	max-width: 13.6em
}

.grid-item {
	display: grid;
	grid-template: auto 1fr auto/1fr;
	padding: 3.5625rem 2.375rem;
	text-align: center
}

.grid-item__icon {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	max-height: 10.75rem;
	max-width: 10.75rem;
	overflow: hidden
}

.grid-item__icon img {
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain
}

.grid-item__title {
	margin-bottom: .46em
}

.grid-item__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.6666666667
}

.join__wrapper {
	background: url(../images/Frame.39356c607310045bcc47.jpg) no-repeat;
	background-size: cover;
	border-radius: 40px;
	margin-bottom: 16.4%;
	padding: 13.28% 4.91% 12.95%;
	width: 100%
}

.join__title {
	max-width: 11.6em
}

.join__button {
	-ms-flex-item-align: end;
	align-self: end;
	max-height: 4.05em
}

.testimonials__wrapper {
	gap: 5.9%;
	padding-bottom: 16.4%
}

.testimonials__image {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	padding-bottom: 3.25rem;
	position: relative
}

.testimonials__content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center
}

.testimonials__text {
	font-family: DM Sans, sans-serif;
	font-size: 1.0625rem;
	line-height: 1.7647058824;
	margin-bottom: .71em
}

.testimonials__list {
	margin-bottom: 8.34%
}

.testimonials__list-item {
	font-weight: 700;
	margin-bottom: .8em
}

.testimonials__button {
	max-width: 10em
}

.testimonials__subtitle {
	color: #ff9c08;
	margin-bottom: 1em
}

.testimonials__title {
	margin-bottom: .524em;
	max-width: 10.36em
}

.comment {
	background: #fff;
	border: 1px solid #f0ece8;
	border-radius: 12px;
	bottom: 0;
	-webkit-box-shadow: 0 2px 12px rgba(43, 43, 43, .06);
	box-shadow: 0 2px 12px rgba(43, 43, 43, .06);
	font-family: DM Sans, sans-serif;
	max-width: 67.6%;
	padding: 4.25rem 2.5625rem;
	position: absolute;
	right: -8.7%
}

.comment__text {
	font-size: 1.125rem;
	line-height: 1.6666666667;
	margin-bottom: .9444em
}

.comment__name {
	color: #090909;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.1111111111;
	margin-bottom: .8333em
}

.comment__info {
	font-size: 1.0625rem;
	line-height: 1.1764705882
}

.news {
	background-color: #fff
}

.news__wrapper {
	padding-bottom: 16.4%;
	padding-top: 16.4%
}

.news__body {
	-webkit-column-gap: 1.75rem;
	-moz-column-gap: 1.75rem;
	column-gap: 1.75rem;
	margin-bottom: 5.33%;
	padding-bottom: 14rem;
	position: relative
}

.news__btns {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.news__title-block {
	text-align: center
}

.news__subtitle {
	color: #ff9c08;
	margin-bottom: .85em
}

.news__title {
	margin-bottom: 1.167em
}

.news-body__item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 50%;
	flex: 1 1 50%
}

.news-body__item:not(:last-child) {
	margin-bottom: 2.8125rem
}

.news-body__card {
	position: absolute;
	right: 0;
	-webkit-transform: translateY(-26.78%);
	-ms-transform: translateY(-26.78%);
	transform: translateY(-26.78%)
}

.card {
	background-color: #fff;
	border: 1px solid #f0ece8;
	border-radius: 12px;
	-webkit-box-shadow: 0 2px 12px rgba(43, 43, 43, .08);
	box-shadow: 0 2px 12px rgba(43, 43, 43, .08);
	max-width: 44.92%;
	padding: 4%;
	width: 100%
}

.card__data {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: DM Sans, sans-serif;
	font-size: 1.0625rem;
	gap: 1rem;
	line-height: 1.1764705882;
	margin-bottom: 1.125rem
}

.card__data-tab {
	border: 1px solid #f0ece8;
	border-radius: 6px;
	color: #090909;
	cursor: pointer;
	padding: .76em 1.35em 1em;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.card__data-tab:hover {
	border: 1px solid #ff9c08
}

.card__title {
	color: #090909;
	margin-bottom: 1.21em;
	max-width: 17.42em
}

.card__link {
	color: #090909;
	display: inline-block;
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.1111111111;
	max-width: 5em;
	position: relative;
	z-index: 2
}

.card__link:before {
	background-color: #fab752;
	border-radius: 5px;
	bottom: 0;
	content: "";
	height: 1em;
	left: -.6em;
	position: absolute;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	width: 2.5em;
	z-index: -1
}

.card__link:hover:before {
	background-color: #ff9c08
}

.card--right {
	left: 0
}

.footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 10.08%;
	padding-top: 13.36%
}

.footer-top {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.1111111111
}

.footer-top__logo {
	margin-right: 4.84%;
	max-width: 27.54%
}

.footer-top .logo__img {
	margin-bottom: 1.6875rem
}

.footer-top__menu {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
	justify-content: start;
	margin-right: 2.05%
}

.footer-menu {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.1111111111
}

.footer-menu__title {
	color: #090909;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 2.1em
}

.footer-menu__item:not(:last-child) {
	margin-bottom: 1.222em
}

.footer-menu__link:hover {
	text-decoration: underline
}

.footer-menu__utility {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
	margin-right: 4.84%
}

.menu-utility {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.1111111111
}

.menu-utility__title {
	color: #090909;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 1.03em;
	max-width: 5.19em
}

.menu-utility__item:not(:last-child) {
	margin-bottom: 1.222em
}

.menu-utility__link:hover {
	text-decoration: underline
}

.join-footer {
	max-width: 31.8%;
	width: 100%
}

.join-footer__wrapper {
	background: url(../images/Frame.39356c607310045bcc47.jpg) no-repeat;
	background-size: cover;
	border-radius: 40px;
	padding: 16.5% 12.37% 12.89%;
	width: 100%
}

.join-footer__title {
	margin-bottom: .875em
}

.join-footer__button:not(:last-child) {
	margin-bottom: .666em
}

.footer__bottom {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2.3125rem 2rem 1.75rem
}

.footer__bottom-copyright {
	font-family: DM Sans, sans-serif;
	font-size: 1.125rem;
	line-height: 1.6666666667
}

.social {
	-webkit-column-gap: .75rem;
	-moz-column-gap: .75rem;
	column-gap: .75rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.fa-brands {
	font-size: 2.25rem;
	line-height: 36;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.fa-brands:hover {
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px)
}

.fa-facebook {
	color: #4267b2
}

.fa-twitter {
	color: #1da1f2
}

.fa-youtube {
	color: red
}

@media(max-width:1189px) {
	.btn {
		font-size: 1.06rem
	}

	.header__bottom-content {
		-webkit-box-flex: 0;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		padding: 14.6% 3% 14.6% 4%;
		width: 60%
	}

	.header__bottom-img {
		-webkit-box-flex: 0;
		background-position: bottom;
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		width: 40%
	}

	.header-content__title {
		font-size: 3.3rem
	}

	.header-content__text {
		font-size: 1.35rem
	}
}

@media(max-width:1024px) {
	.medium-t {
		font-size: 1.3rem
	}

	.large-t {
		font-size: 2rem
	}

	.header__bottom-content {
		padding: 12.6% 3% 12.6% 4%
	}

	.header-content__title {
		font-size: 3rem
	}

	.header-content__text {
		font-size: 1.15rem
	}

	.statistic__num {
		font-size: 3rem;
		padding-bottom: 4%;
		padding-top: 7%
	}

	.results__row {
		-webkit-column-gap: 1.3rem;
		-moz-column-gap: 1.3rem;
		column-gap: 1.3rem
	}

	.results__content {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 55%;
		flex: 1 1 55%
	}

	.results__image {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 45%;
		flex: 1 1 45%
	}

	.statistic-result {
		gap: 1rem
	}

	.statistic-result__image {
		max-height: 3rem;
		max-width: 3rem
	}

	.statistic-result__num {
		font-size: 2rem
	}

	.statistic-result__text {
		font-size: 1rem
	}

	.top-look__cta {
		padding-bottom: 37.54%;
		padding-top: 16.4%
	}

	.help__wrapper {
		padding-top: 9%
	}

	.join__wrapper {
		padding: 13.28% 2.3% 12.95%
	}

	.join__button {
		padding: 1em 1.4em 1.2em
	}

	.testimonials__wrapper {
		padding-bottom: 12%
	}

	.comment {
		max-width: 90%;
		padding: 2.3rem 1.4rem
	}

	.card {
		padding: 2%
	}

	.card__link {
		font-size: 1rem
	}

	.footer__top {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		row-gap: 2.3rem
	}

	.footer-top__logo {
		-webkit-box-flex: 25%;
		-ms-flex: 25%;
		flex: 25%;
		margin-right: 1rem
	}

	.footer-top__menu {
		-webkit-box-flex: 25%;
		-ms-flex: 25%;
		flex: 25%
	}

	.footer-menu__utility {
		-webkit-box-flex: 25%;
		-ms-flex: 25%;
		flex: 25%
	}

	.join-footer {
		max-width: 100%;
		text-align: center
	}

	.join-footer__wrapper {
		padding: 10% 12.37% 8%
	}

	.join-footer__btns {
		margin: 0 auto;
		max-width: 60%
	}
}

@media(max-width:845px) {
	.btn {
		padding: 1em 1.8em 1.2em
	}

	.header-content__title {
		font-size: 2.5rem
	}

	.header-content__text {
		font-size: 1rem
	}

	.help__wrapper {
		padding-top: 12%
	}

	.help__grid {
		grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
		grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr))
	}

	.grid-item__icon {
		max-height: 8rem;
		max-width: 8rem
	}

	.join__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 10% 2.3% 10.5%;
		text-align: center
	}

	.join__title {
		margin-bottom: 3rem;
		margin-left: auto;
		margin-right: auto
	}

	.join__btns {
		-ms-flex-item-align: center;
		align-self: center
	}

	.testimonials__text {
		font-size: 1rem
	}

	.comment__text {
		font-size: 1rem
	}

	.comment__info {
		font-size: 1rem
	}
}

@media(max-width:768px) {
	.btn {
		font-size: .9rem;
		padding: 1em 1.8em 1.2em
	}

	.small-t {
		font-size: 1rem
	}

	.large-t {
		font-size: 1.8rem
	}

	.header__row {
		padding: 1.3rem 0
	}

	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		background-color: #fff;
		-ms-flex-direction: column;
		flex-direction: column;
		font-size: 2em;
		height: 100%;
		overflow: auto;
		padding-top: 14.375rem;
		position: fixed;
		right: -1.25rem;
		top: 0;
		-webkit-transform: translateX(200%);
		-ms-transform: translateX(200%);
		transform: translateX(200%);
		-webkit-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
		width: 100%;
		z-index: 99
	}

	.menu__list.active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	.menu__item {
		min-width: 100%;
		text-align: center
	}

	.menu__link {
		display: block
	}

	.menu__link:hover:before {
		display: none
	}

	.cart__button {
		font-size: .9rem;
		margin-left: 1rem;
		margin-right: 1rem
	}

	.burger {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		background-color: rgba(0, 0, 0, 0);
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		justify-content: center;
		margin-right: 1rem;
		min-height: 2rem;
		min-width: 2rem;
		position: relative;
		z-index: 100
	}

	.burger span,
	.burger:after,
	.burger:before {
		background-color: #ff9c08;
		border-radius: 1px;
		height: 2px;
		position: absolute;
		width: 100%
	}

	.burger span {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%)
	}

	.burger:after,
	.burger:before {
		content: ""
	}

	.burger:before {
		top: .375rem
	}

	.burger:after {
		bottom: .375rem
	}

	.burger__bg {
		background-color: #fff;
		display: none;
		height: 110px;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 99
	}

	.burger__bg.active {
		display: block
	}

	.header__bottom-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.header__bottom-content {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 6.6% 3% 6.6% 4%;
		width: 100%
	}

	.header__bottom-img {
		margin-bottom: 2rem;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		width: 70%
	}

	.header-content__title:before {
		left: .3em;
		top: -.6rem
	}

	.header-content__title {
		-ms-flex-item-align: start;
		align-self: start;
		font-size: 2rem;
		max-width: 90%
	}

	.header-content__text {
		-ms-flex-item-align: start;
		align-self: start;
		font-size: .9rem;
		margin-bottom: 1.3em;
		max-width: 80%
	}

	.statistic__row {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 4%;
		padding-top: 7%
	}

	.statistic__num {
		font-size: 2rem;
		padding-bottom: 3%;
		padding-top: 5%
	}

	.statistic {
		font-size: .9rem
	}

	.about__row {
		padding-bottom: 12.4%;
		padding-top: 12.4%
	}

	.item-first__text {
		font-size: 1rem
	}

	.item-second__btns {
		gap: .75rem;
		padding-bottom: 2.1rem;
		padding-top: 1.8rem
	}

	.item-second__text {
		font-size: 1rem
	}

	.list-item {
		font-size: 1rem
	}

	.top-look__cta {
		margin-bottom: 3rem;
		padding-bottom: 12%;
		padding-top: 12%
	}

	.bottom-look__wrapper-p {
		padding-bottom: 0
	}

	.bottom-look__wrapper {
		position: relative;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	.bottom-look__video {
		margin-bottom: 10%
	}

	.block-text {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.block-text__item {
		padding-left: 2rem;
		padding-right: 2rem
	}

	.grid-item__text {
		margin: 0 auto;
		max-width: 85%
	}

	.footer-logo-txt {
		display: none
	}
}

@media(max-width:719px) {
	.results__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 1.5rem
	}

	.results__content {
		-ms-flex-item-align: center;
		align-self: center
	}

	.results__content-subtitle {
		text-align: center
	}

	.results__content-title {
		max-width: 95%;
		text-align: center
	}

	.results__image {
		-ms-flex-item-align: center;
		align-self: center
	}

	.result__button {
		display: block;
		margin: 0 auto;
		max-width: 40%;
		text-align: center
	}

	.statistic-result {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 15%
	}

	.statistic-result__item {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.testimonials__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}

	.testimonials__image {
		-ms-flex-item-align: center;
		align-self: center
	}

	.testimonials__content {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 7%;
		text-align: center
	}

	.testimonials__text {
		max-width: 75%
	}

	.testimonials__list {
		-ms-flex-item-align: start;
		align-self: flex-start;
		margin-bottom: 2%;
		margin-top: 5%;
		text-align: left
	}

	.testimonials__button {
		-ms-flex-item-align: start;
		align-self: start
	}

	.comment {
		left: 6%;
		max-width: 70%;
		padding: 1rem .6rem
	}

	.news__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 5rem;
		padding-bottom: 0
	}

	.news-body__image img {
		width: 100%
	}

	.news-body__card {
		-webkit-transform: translateY(-12.875rem);
		-ms-transform: translateY(-12.875rem);
		transform: translateY(-12.875rem)
	}

	.card {
		padding: 1.5%
	}

	.card__data {
		font-size: .9rem
	}

	.card__data-tab {
		font-size: .9rem
	}

	.card__title {
		font-size: 1.1rem
	}

	.card__link {
		font-size: .9rem
	}
}

@media(max-width:576px) {
	.small-t {
		font-size: .9rem
	}

	.large-t {
		font-size: 1.5rem
	}

	.logo__txt {
		display: none
	}

	.logo {
		min-width: 3.125rem
	}

	.cart__link img {
		height: 2rem;
		min-width: 2rem
	}

	.cart__link {
		margin-right: 1rem
	}

	.cart__count {
		font-size: .55rem;
		height: 1rem;
		min-width: 1rem;
		-webkit-transform: translate(-35%, 120%);
		-ms-transform: translate(-35%, 120%);
		transform: translate(-35%, 120%)
	}

	.cart__button {
		display: none
	}

	.header__bottom-content {
		text-align: center
	}

	.header-content__title:before {
		display: none
	}

	.header-content__title {
		margin-left: auto;
		margin-right: auto
	}

	.header-content__text {
		margin-left: auto;
		margin-right: auto
	}

	.statistic__row {
		display: block;
		gap: 1.5em 4.6em
	}

	.about__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.item-first__title {
		max-width: 80%
	}

	.item-first__text {
		font-size: .9rem;
		margin-bottom: 2.5em
	}

	.item-second__btns {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-bottom: 5.5rem;
		padding-top: 2.5rem
	}

	.item-second__text {
		font-size: .9rem
	}

	.results__row {
		padding-bottom: 18%
	}

	.help__header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center
	}

	.help__title {
		margin-bottom: 2rem
	}

	.help__button {
		-ms-flex-item-align: center;
		align-self: center
	}

	.grid-item {
		padding: 2.6rem 1.3rem
	}

	.grid-item__title {
		font-size: 1.4rem
	}

	.grid-item__text {
		font-size: 1rem
	}

	.news-body__card {
		-webkit-transform: translateY(-11.875rem);
		-ms-transform: translateY(-11.875rem);
		transform: translateY(-11.875rem)
	}

	.card {
		max-width: 15.625rem
	}

	.card__data-tab {
		padding: .5em 1em .7em
	}

	.card__link:before {
		left: -.2em
	}

	.footer__top {
		display: grid;
		grid-template: -webkit-max-content 1fr min-content/repeat(2, 1fr);
		grid-template: max-content 1fr min-content/repeat(2, 1fr)
	}

	.footer-top {
		font-size: 1rem
	}

	.footer-top__logo {
		grid-column: 1/3;
		grid-row: 1/2;
		margin: 0 auto;
		max-width: 60%;
		text-align: center
	}

	.footer-top .logo__img {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.footer-menu {
		font-size: 1rem;
		grid-column: 1/2;
		grid-row: 2/3;
		justify-self: center
	}

	.footer-menu__title {
		font-size: 1.1rem
	}

	.menu-utility {
		font-size: 1rem;
		grid-column: 2/3;
		grid-row: 2/3;
		justify-self: center
	}

	.menu-utility__title {
		font-size: 1.1rem
	}

	.join-footer {
		grid-column: 1/3;
		grid-row: 3/4
	}

	.join-footer__wrapper {
		font-size: .9rem;
		padding: 10% 4% 8%
	}

	.join-footer__title {
		font-size: .9rem
	}

	.footer__bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		row-gap: 1rem
	}
}

@media(max-width:460px) {
	.large-t {
		font-size: 1.4rem
	}

	.header-content__title {
		font-size: 1.7rem
	}

	.header-content__text {
		font-size: .8rem
	}

	.header-content__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: .8rem;
		width: 95%
	}

	.statistic__num {
		font-size: 1.6rem
	}

	.statistic {
		font-size: .7rem
	}

	.item-first {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center
	}

	.item-first__title {
		margin-left: auto;
		margin-right: auto
	}

	.item-second__img {
		margin-bottom: 2rem
	}

	.results__content-title {
		margin-bottom: 2em
	}

	.result__button {
		max-width: 60%
	}

	.statistic-result__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center
	}

	.statistic-result__image {
		margin-bottom: 1rem
	}

	.statistic-result__num {
		font-size: 1.6rem
	}

	.top-look__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: .8rem;
		width: 95%
	}

	.bottom-look__video {
		border-radius: 2.1875rem;
		margin-bottom: 14%
	}

	.help__header {
		margin-bottom: 8%
	}

	.grid-item {
		padding: 1.4rem .8rem
	}

	.join__title {
		margin-bottom: 2rem
	}

	.join__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: .7rem
	}

	.join__button {
		-ms-flex-item-align: auto;
		align-self: auto
	}

	.testimonials__text {
		font-size: .85rem;
		max-width: 85%
	}

	.testimonials__list-item {
		font-size: .85rem
	}

	.comment {
		max-width: 85%;
		padding: .8rem .4rem
	}

	.comment__text {
		font-size: .85rem
	}

	.comment__name {
		font-size: 1rem
	}

	.comment__info {
		font-size: .85rem
	}

	.news__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: .8rem;
		width: 95%
	}

	.news-body__card {
		-webkit-transform: translateY(-10.875rem);
		-ms-transform: translateY(-10.875rem);
		transform: translateY(-10.875rem)
	}

	.card__title {
		font-size: .9rem
	}
}

@media(max-width:375px) {
	.news-body__card {
		-webkit-transform: translateY(-10.3rem);
		-ms-transform: translateY(-10.3rem);
		transform: translateY(-10.3rem);
		-webkit-transform: translateY(-10rem);
		-ms-transform: translateY(-10rem);
		transform: translateY(-10rem)
	}
}

@media(max-width:320px) {
	.card__title {
		font-size: .7rem
	}
}